<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="/img/logo/logo.png" alt="" /></a>
            <strong><a href="index.html"><img src="/img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" href="/index">
                               <span class="educate-icon educate-home icon-wrap"></span>
                               <span class="mini-click-non">Utilisateurs</span>
                            </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a  href="/user/register"><span class="mini-sub-pro">Ajouter Utilisateur</span></a></li>
                            <li><a  href="/user/table_users"><span class="mini-sub-pro">Tous les Utilisateurs</span></a></li>
    
                        </ul>
                    </li>
                    <li>
                        <a title="Landing Page" href="events.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Event</span></a>
                    </li>

                    <li >
                        <a class="has-arrow" href="/index">
                               <span class="educate-icon educate-home icon-wrap"></span>
                               <span class="mini-click-non">Facultés</span>
                            </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a  href="/faculte/register_faculte"><span class="mini-sub-pro">Ajouter Faculté</span></a></li>
                            <li><a  href="/faculte/table_facultes"><span class="mini-sub-pro">Toutes les Facultés</span></a></li>
    
                        </ul>
                    </li>
                   
                </ul>
            </nav>
        </div>
    </nav>
</div>