<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="/img/logo/logo.png" alt="" /></a>
            <strong><a href="index.html"><img src="/img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" href="/index">
                               <span class="educate-icon educate-home icon-wrap"></span>
                               <span class="mini-click-non">Utilisateurs</span>
                            </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a  href="/user/register"><span class="mini-sub-pro">Ajouter Utilisateur</span></a></li>
                            <li><a  href="/user/table_users"><span class="mini-sub-pro">Tous les Utilisateurs</span></a></li>
    
                        </ul>
                    </li>
                    <li>
                        <a title="Landing Page" href="/immatriculation/get_immatriculation" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Immatriculation</span></a>
                    </li>

                    <li >
                        <a class="has-arrow" href="/index">
                               <span class="educate-icon educate-home icon-wrap"></span>
                               <span class="mini-click-non">Facultés</span>
                            </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a  href="/faculte/register_faculte"><span class="mini-sub-pro">Ajouter Faculté</span></a></li>
                            <li><a  href="/faculte/table_facultes"><span class="mini-sub-pro">Toutes les Facultés</span></a></li>
    
                        </ul>
                    </li>

                    <li >
                        <a class="has-arrow" href="/index">
                               <span class="educate-icon educate-home icon-wrap"></span>
                               <span class="mini-click-non">Etudiants</span>
                            </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a  href="/etudiant/register_etudiant"><span class="mini-sub-pro">Ajouter Etudiant</span></a></li>
                            <li><a  href="/etudiant/table_etudiants"><span class="mini-sub-pro">Tous les Etudiants</span></a></li>
    
                        </ul>
                    </li>

                    <li >
                        <a class="has-arrow" href="/index">
                               <span class="educate-icon educate-home icon-wrap"></span>
                               <span class="mini-click-non">Professeurs</span>
                            </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a  href="/professeur/registerProfesseur"><span class="mini-sub-pro">Ajouter Professeur</span></a></li>
                            <li><a  href="/professeur/getProfesseurs"><span class="mini-sub-pro">Tous les Professeurs</span></a></li>
    
                        </ul>
                    </li>
                    <li >
                        <a class="has-arrow" href="/index">
                               <span class="educate-icon educate-home icon-wrap"></span>
                               <span class="mini-click-non">Dépenses</span>
                            </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a  href="/depense/register_depense"><span class="mini-sub-pro">Nouvelle Dépense</span></a></li>
                            <li><a  href="/depense/type_depense"><span class="mini-sub-pro">Ajouter type Depense </span></a></li>
                            <li><a  href="/depense/get_depenses"><span class="mini-sub-pro">Toutes Dépenses</span></a></li>
    
                        </ul>
                    </li>

                    <li>
                        <a title="Landing Page" href="/payement/getPayement" aria-expanded="false"><span class="educate-icon educate-home icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Paiements</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="/bourse/getBourses" aria-expanded="false"><span class="educate-icon educate-home icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Bourses</span></a>
                    </li>

                    <li >
                        <a class="has-arrow" href="/index">
                               <span class="educate-icon educate-home icon-wrap"></span>
                               <span class="mini-click-non">Cours</span>
                            </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a  href="/cours/register"><span class="mini-sub-pro">Nouveau Cours</span></a></li>
                            <li><a  href="/cours/getCours"><span class="mini-sub-pro">Tous les cours</span></a></li>
    
                        </ul>
                    </li>
                    <li>
                        <a title="Landing Page" href="/catalogue/getCatalogues" aria-expanded="false"><span class="educate-icon educate-home icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Catalogues de Cours</span></a>
                    </li>
                   
                </ul>
            </nav>
        </div>
    </nav>
</div>