<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            <li><a data-toggle="collapse" data-target="#Charts" href="#">Utilisateurs <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul class="collapse dropdown-header-top">
                                    <li><a href="/user/register">Ajouter Utilisateur</a></li>
                                    <li><a href="/user/table_users">Tous les Utilisateurs</a></li>
                  
                                </ul>
                            </li>
                            <li><a href="/immatriculation/get_immatriculation">Immatriculation</a></li>
                            <li><a data-toggle="collapse" data-target="#demoevent" href="/faculte/register_faculte">Facultés <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="demoevent" class="collapse dropdown-header-top">
                                    <li><a href="/faculte/register_faculte">Ajouter Faculté</a>
                                    </li>
                                    <li><a href="/faculte/table_facultes">Toutes les Facultés</a>
                 
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#demopro" href="/etudiant/register_etudiant">Etudiants <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="demopro" class="collapse dropdown-header-top">
                                    <li><a href="/etudiant/register_etudiant">Ajouter Etudiant</a>
                                    </li>
                                    <li><a href="/etudiant/table_etudiants">Tous les Etudiants</a>
                                    </li>
                                   
                                </ul>
                            </li>
                         
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>